
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

.app-page{
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

.app-nav{
    height: 20%;

}

.app-contain{
    height: 80%;
}