nav{
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.nav-links{
    display: flex;
    justify-content: space-around;
}

.nav-links a{
    text-decoration: none;
    color: var(--main);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-left: 75px
}

.nav-links a:hover{
    color: var(--oscuro);
}

img{
    height: 70px;
    margin-top: 10px;
}